<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" width="80%" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>选择</th><th>id</th><th>用户名</th><th>邮箱</th><th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td><td>1</td><td>admin</td><td>admin@163.com</td><td>删除 更新</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td><td>1</td><td>test</td><td>test@163.com</td><td>删除 更新</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>