<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zhengshop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsTypeServlet</display-name>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.GoodsTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <url-pattern>/GoodsTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPhoneServlet</display-name>
    <servlet-name>UserPhoneServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.UserPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPhoneServlet</servlet-name>
    <url-pattern>/UserPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsPhoneServlet</display-name>
    <servlet-name>GoodsPhoneServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.GoodsPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsPhoneServlet</servlet-name>
    <url-pattern>/GoodsPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodTypePhoneServlet</display-name>
    <servlet-name>GoodTypePhoneServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.GoodTypePhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodTypePhoneServlet</servlet-name>
    <url-pattern>/GoodTypePhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarPhoneServlet</display-name>
    <servlet-name>CarPhoneServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.CarPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarPhoneServlet</servlet-name>
    <url-pattern>/CarPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPhoneServlet</display-name>
    <servlet-name>OrderPhoneServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.OrderPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPhoneServlet</servlet-name>
    <url-pattern>/OrderPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersServlet</display-name>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>com.itzheng.servlet.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/OrdersServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IndexFilter</display-name>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.itzheng.filter.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PagesFilter</display-name>
    <filter-name>PagesFilter</filter-name>
    <filter-class>com.itzheng.filter.PagesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PagesFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
</web-app>